
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    <!-- ***** Preloader Start ***** -->
    @Html.Action("PartialNavbar", "Default")
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    @Html.Action("PartialBanner", "Default")
    <!-- ***** Main Banner Area End ***** -->
   @Html.Action("PartialCountry", "Default")


    @Html.Action("PartialFooter", "Default")
    @Html.Action("PartialScript", "Default")

</body>

</html>
